aside, article, section, header, footer, nav {
  display: block;
}

html, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

html {
  background: #BBBBBB;
}

body {
  font-family: Arial;
  font-size: 100%;
  width: 500px;
  background: white;
  background-color: lightblue;
  background-image: url("download.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 50px auto;
}

a {
  color: rgb(184, 126, 84);
}
a:hover {
  color: rgb(120, 97, 55);
}

h1 {
  font-family: Georgia;
  font-size: 1.8em;
  font-weight: normal;
  margin-top: 1em;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.6;
}
.but {
  width: 40%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  margin: 6.4px 12.8px;
  padding: 12px 30px;
  border: 2px solid gray;

}

nav {
  padding: 5px 20px;
  text-align: center;
}
footer {
  border-top: 10px solid #3A285E;
  background: #8A5293;
  padding: 5px 0;
  color: white;
  text-align: center;
}

header {
  border-bottom: 10px solid #3A285E;
  background: #8A5293;
}
header h1 {
  text-align: center;
  line-height: 75px;
  color: white;
}

h1 + p, h2 + p {
  margin-top: .6em;
}
fieldset{
  margin: 20px;
  padding: 5px 80px;
}